<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @product.nombre %>
</p>
<p>
  <% if @product.has_photo? %>
     <div class='thumbnail'>
     <div class='caption'>
      <%= image_tag @product.photo_path%>
     </div>
     </div>
  <% else %>
    <b> Problema al subir la foto </b>   
  <% end %>
</p>
<p>
  <b>Categoria:</b>
  <%= @product.categoria %>
</p>

<p>
  <b>Precio:</b>
  <%= @product.precio %>
</p>
<p>
<p>
  <b>user:</b>
  <%= @product.user_id %>
</p>
<p>  
  <b>Info de contacto:</b>
  <% if @user %>
    <p> <%= @user.name %> </p>
    <p> <%= @user.email %> </p>
    <p> <%= @user.location %></p>
  <% end %>
</p>



<% if current_user.id==@product.user_id%>
<div class="form-actions">
<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Volver', products_path %> |
<%= link_to 'Eliminar', @product, method: :delete, data: { confirm: '¿Esta usted seguro que desea eliminar?' } %>
</div>
<% end %>
